.container {
  height: calc(100vh - 500px);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.angular-logo {
  height: 50px;
  margin-left: 10px;
}
