.container {
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background: rgb(129, 32, 32);
}
.angular-logo {
  height: 50px;
  margin-left: 10px;
}
